<H1>Todo List</H1>

<table id="taskList">
	<tr>
		<th>Done</th>
		<th>Task</th>
		<th>x</th>
	</tr>
	<tr ng-repeat="task in taskList">
		<td><input type="checkbox" ng-model="task.completed" ng-change="taskChecked(task)"></td>
		<td>{{task.description}}</td>
		<td><a href="" ng-click="deleteTask($index, task)">Delete</a></td>
	</tr>
	<tr>
		<td/>
		<td>
			<form ng-submit="newTaskEntered()">
				<input type="text" placeholder="Enter a new task" ng-model="newTaskDesc" 
					ng-keyup="$event.keyCode == 13 && newTaskEntered()"/>
			</form>
		</td>
		<td></td>
	</tr>
</table>

